* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-user-select: none;
}

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: CiscoSansTT Regular;
}

.field {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

.ball {
  position: absolute;
  border-radius: 50%;
  will-change: transform; /* for gpu acceleration, maybe not needed */
}

.ball-shadow {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px; /* offset programmatically for tail */
  left: 0px;
  border-radius: 50%;
  background-color: inherit;
  opacity: 0.1;
}

.player {
  position: absolute;
  width: 30px;
  background-size: 100% 450px;
  background-repeat: no-repeat;
}

.footer {
  position: absolute;
  bottom: 60px;
  left: 0;
  width: 100%;
  display: flex;
  height: 50px;
  justify-content: space-around;
  align-items: center;
}

.divider {
  position: absolute;
  left: calc(50% - 3px);
  top: 0;
  width: 6px;
  height: 100%;
  background: #eee;
}

.colors {
  margin: 5px 0;
  display: inline-flex;
  align-items: center;
  padding: 5px;
  background: rgba(0, 0, 0, 0.8); /* allow ball to be seen behind */
  border-radius: 60px;
}

.color {
  box-sizing: content-box; /* want border outside element */
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin: 5px 9px;
  border: 9px solid #333;
}

.color.selected {
  border: 9px solid white;
}

.debug {
  position: absolute;
  top: 20px;
  left: 20px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.pill {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 20px 40px;
  border-radius: 40px;
  font-size: 30px;
  margin-top: 300px;
}

.scores {
  font-size: 250px;
  opacity: 0.3;
}

.score1, .score2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.score2 {
  left: 50%;
}

.dialog {
  font-family: CiscoSansTT Thin;
  height: 400px;
  width: 400px;
  padding-top: 270px;
  border: 1px solid #ddd;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
  background-color: rgba(255, 255, 255, 0.85);
  background-image: url('assets/logo.svg');
  background-size: 150px 150px;
  background-repeat: no-repeat;
  background-position: center 50px;
  box-shadow: 5px 7px 4px 2px rgba(0,0,0,0.03);
}

.o-marker {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: red;
  border-radius: 50%;
  margin: -2px 3px;
}
